* {
  margin:0 ;
  padding:0;
  font-family: 'Ubuntu', sans-serif ,arial;
  
}

header {
    width: 100%;
    margin: 0 auto;
    height: 127px;
    background: #2E948A;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
    display:flex;  
    
    align-items: center;
}
article {
  width: 100%;
  margin: 0px 20px 0px 0px;
  display: flex;
  justify-content: end;

}
ul {
  display: flex;

}
li {
list-style:none;
}
a {
  text-decoration:none;
}
.imagem {
  padding-left: 60px;
}

.texto {

    padding-left:15px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
   color: #FFFFFF;
}
a {
    margin-right:40px;
    display:flex;
    justify-content: end;
    color: #FFFFFF;
    font-size:30px;
    padding-left:20px;
}
@media  (max-width: 500px) {
  header ,article , ul ,li ,a {
    display: flex;
    padding-bottom: 10px;
    justify-content: center;
    font-size: 22px;
  }
}
@media  (max-width: 500px) {
   header {
    flex-wrap:wrap;
    }
  }
  section {
    margin:auto;
    width:80%;
    height: 600px;
    display:flex;
    flex-wrap: wrap;
   align-items: center;
    justify-content:space-evenly;

  }
  .conteudo {
   height: auto;
    width:400px;
    margin:0 auto;   
}
.texto1 {
  font-family: 'Ubuntu';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 23px;
display: flex;
align-items: center;
color: #000000;


}
.titulo {
  margin: 0 auto;
  width:500px;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 47px;
  line-height: 54px;
  color: #009688;
}
@media (max-width:768px){
  section {
    width: 300px;
    height: auto;
    margin: 0 auto;
    padding:15px 10px 10px 10px;

  }
}
main {
  width:90%;
  height:auto;
  margin: 0 auto;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-evenly;
}
.main {
  background: #C4C4C4;
  width: 518px;
  height: 259px;
}
.texto2 {
  font-family: 'Ubuntu';
font-style: normal;
font-weight: 500;
font-size: 35px;
line-height: 34px;
display: flex;
align-items: center;
color: #FF4081;
}
.texto3 {
  width: 516px;
  height: 80px;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #000000;

}
.grupo {
 padding:10px 10px 10px 10px;

}
@media (max-width:768px) {
  .grupo {
    margin:0 auto;
    padding:15px 10px 10px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width:400px;
    height: auto;
  }
}
footer {
  width:100%;
  height:auto;
 background: #2E948A;
 color:white;
 
}
#footer {
 width: 100%;
 height: 212px;
 margin:0 auto;
 display: flex;
 justify-content: space-around;
 align-items: center;
}

.imagem {
 display: flex;
 
 height: 101px;
}
.dindin {
font-size: 55px;
}
.cursos {
 font-size:10px;
 display:block;

}
ol li a {
 font-size:20px;
 padding-bottom: 10px;
 justify-content: center;
 align-items: center;
 text-align: center;
}
.links {
 display:block;
}
.link {
 width:200px;
 height: 48px;
 font-size:20px;
 border:solid 2px white;
 border-radius:50px;
 display: flex;
 justify-content: center;
 align-items:center;
 margin-bottom: 12px;

}
@media (max-width:720px) {
 #footer{
   width: 300px;
   margin:0 auto;
   height: 320px;
  padding-top: 20px;
   display:block;
   flex-wrap: wrap;
   
 }
}
.container ,.conteudo {
 margin-bottom: 20px;
}

.cursos {
 display: flex;
 justify-content:center;
}
.link .links ,ol, li, a {
 
 justify-content:center;
 align-items: center;
 margin: 0 auto;
}
@media (max-width:720px){
  .link .links ,ol, li, a {
    display:flex ;
    justify-content:center;
    align-items: center;
    margin: 0 auto;
  }
  .titulo {
    font-size: 35px;
    text-align: center;
  }
  .texto1 ,.texto2 ,.texto3 {
    width:auto;
   
    text-align: center;
  }
}
@media (max-width:768px){
  .imagem {
    width: 100%;
    margin-right: 60px;
    display:flex;
    justify-content: center;
  }
}





  