* {
  margin:0 ;
  padding:0;
  font-family: 'Ubuntu', sans-serif ,arial;
  
}

header {
  width: 100%;
  margin: 0 auto;
  height: 127px;
  background: #2E948A;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
  display:flex;  
  
  align-items: center;
}
article {
width: 100%;
margin: 0px 20px 0px 0px;
display: flex;
justify-content: end;

}
ul {
display: flex;

}
li {
list-style:none;
}
a {
text-decoration:none;
}

.texto {

  padding-left:15px;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-size: 56px;
 color: #FFFFFF;
}
a {
  margin-right:40px;
  display:flex;
  justify-content: end;
  color: #FFFFFF;
  font-size:30px;
  padding-left:20px;
}
@media  (max-width: 500px) {
header ,article , ul ,li ,a {
  display: flex;
  padding-bottom: 10px;
  justify-content: center;
  font-size: 22px;
}
}
@media  (max-width: 500px) {
 header {
  flex-wrap:wrap;
  }

}
footer {
  width:100%;
  height:auto;
 background: #2E948A;
 color:white;
 
}
#footer {
 width: 100%;
 height: 212px;
 margin:0 auto;
 display: flex;
 justify-content: space-around;
 align-items: center;
}

.imagem {
  text-align: center;
  padding-left: 60px;
  display: flex;
  justify-content: center;
  height: 101px;
}
.dindin {
font-size: 55px;
}
.cursos {
 font-size:10px;
 display:block;

}
ol li a {
 font-size:20px;
 padding-bottom: 10px;
 justify-content: center;
 align-items: center;
 text-align: center;
}
.links {
 display:block;
}
.link {
 width:200px;
 height: 48px;
 font-size:20px;
 border:solid 2px white;
 border-radius:50px;
 display: flex;
 justify-content: center;
 align-items:center;
 margin-bottom: 12px;

}
@media (max-width:720px) {
 #footer{
   width: 300px;
   margin:0 auto;
   height: 320px;
  padding-top: 20px;
   display:block;
   flex-wrap: wrap;
   
 }
}
.container ,.conteudo {
 margin-bottom: 20px;
}

.cursos {
 display: flex;
 justify-content:center;
}
.link .links ,ol, li, a {
 
 justify-content:center;
 align-items: center;
 margin: 0 auto;
}
@media (max-width:720px){
  .link .links ,ol, li, a {
    display:flex ;
    justify-content:center;
    align-items: center;
    margin: 0 auto;
  }
}
section {
  width:90%;
  height:300px;
  margin: 0 auto;

}
.texto1 {
  font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 68px;
line-height: 69px;
text-transform: capitalize;
color: #FF4081;
}
.texto2 {
  font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 23px;
line-height: 23px;
color: #555555;

}
@media (max-width:768px) {
  .texto1 ,.texto2 {
    text-align: center;
  }
  
}
main {
  width:100%;
  margin: 0 auto;
  padding: 10px 0px 20px 0px;
  
}
.container {
  display:flex;
  width:100%;
  margin: 0 auto;
  display:flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  

}

.conteudo {
  width:35%;
  height: 381px;
  margin: 10px 60px 0px 0px;
  display:flex;
  flex-wrap: wrap;
  justify-content:space-evenly
}
@media (max-width:280px){
  .conteudo ,.conteudo1 {
    width: 300px;
    display:flex;
  flex-wrap: wrap;
  justify-content:center;
  
  

  }
}
.conteudo1 {
  width:55%;
  height: auto;
  margin: 35px 60px 0px 0px;

}

.botao {
  margin-left: 50px;
  color: #FFFFFF;
  background:#2E948A;
  border:1px solid #2e948A;
  width: 200px;
  height:48px;
  font-size:18px;
  border-radius:22px;
}
.texto3 {
  font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 45px;
color: #FF4081;

}
.texto4 {
  font-family: 'Ubuntu';
font-style: normal;
font-weight: 300;
font-size: 21px;
line-height: 21px;
color: #000000;
}

.dividir {
  width:90%;
  margin-top:60px;
  margin-bottom:60px;
  height:5px;
  background: #C4C4C4;
}
.imagem-responsiva {
  width:320px;
  height:381px;
  
}
@media (max-width:768px) {
  .texto4 {
    font-size: 16px;

  }
  .container ,.conteudo1 {
    width:380px;
    margin: 0 auto;
    text-align:center;
  }
}
@media (max-width:768px){
  .imagem {
    width: 100%;
    margin-right: 60px;
    display:flex;
    justify-content: center;
  }
}




